* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
   font-family: "Press Start 2P", system-ui;
   scroll-behavior: smooth;
   font-size: 16px;
  background-image: linear-gradient(
    0deg,
    hsl(265deg 43% 80%) 0%,
    hsl(255deg 41% 77%) 3%,
    hsl(246deg 39% 75%) 8%,
    hsl(236deg 39% 71%) 17%,
    hsl(228deg 41% 67%) 29%,
    hsl(222deg 43% 62%) 43%,
    hsl(216deg 44% 56%) 57%,
    hsl(235deg 35% 65%) 68%,
    hsl(263deg 31% 68%) 77%,
    hsl(293deg 27% 70%) 85%,
    hsl(321deg 36% 75%) 91%,
    hsl(338deg 49% 81%) 96%,
    hsl(352deg 63% 86%) 100%
  );
}
a{
 text-decoration: none;
 color:#1F1E2F;
}
/* Barra de navegacion */
.redes-sociales-contenedor a{
 
  margin:0;
  color:#F295CE;
   text-shadow: 2px 2px 2px #1F1E2F
}
a:hover{
  color: #6B79FF;
}
.navbar {
  padding: 1rem;

}
.navbar a:hover{
  border-bottom: 3px solid black;
  /*animar*/
}
.small-text{
  font-size: 0.75rem;
  color:#A0A4A8;
  text-shadow: 1px 1px 1px #1F1E2F;
}
.medium-text{
font-size: .85rem;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

h1 {
  font-size: 3rem;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bolder;
  text-shadow: 4px 3px 2px #F295CE
}
h2 {
  font-size: 2rem;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bolder;
  margin-left: 4rem;
  text-transform: uppercase;
  text-shadow: 4px 3px 0 #F295CE
}

/* Seccion Hero */

.hero {  

 
}

.hero-principal {
  padding: 3rem;
  align-items: center;
  justify-content: center;
  
}
.hero-principal h2{
  color: #000 !important;
}

.hero-imagen-desarrollador {
 max-width: 25vw;
}
.redes-sociales-contenedor{
 margin-top:2rem;  
}
.redes-sociales-contenedor a{
  font-size: 1rem;
 
}
.hero-text p{
display: inline;
margin-left: 1rem;

}

.hero-text{
  margin-left: 4rem;
  align-items: flex-start;
}
.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* Sobre mi */

.sobre-mi {
  
}

 ul li{
  list-style: none;
}

.contenedor-sobre-mi ul {
  display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25em;
  
}
.contenedor-sobre-mi ul li {
   list-style-image: url("./assets/svg/computer.svg");
 list-style-position: inside;
  align-items: center; 
  
}
.contenedor-proyectos ul li {
  list-style-image: url("./assets/svg/flask.svg");
 list-style-position: inside;
  align-items: center; 
}
.contenedor-articulos ul li {
   list-style-image: url("./assets/svg/write.svg");
 list-style-position: inside;
  align-items: center; 
  background: transparent;
}

/* Proyectos */
.proyectos{
  
   
}


/* Articulos */

.articulos {

}



/* Contacto */

.contacto{
  

}
input{
  height: 2rem;
}
input,textarea,legend {
  display:block;
  margin:.75rem;
  padding:.75rem;
  border-radius: .5rem;

  
}
legend{
    text-shadow: 1px 2px 1px  #C8B6E2;

}
.contacto-msg{
   filter: drop-shadow(2px 4px 6px #C8B6E2);
  }
legend, ::placeholder{
  font-size: 0.8rem;
}
.form-btn{
  padding:.75rem;
  border-radius: .75rem;
  font-size: 0.75rem;
  background-color: #F2C6CC;
  border: 1px solid #C8B6E2
}
/* Pie de pagina (footer) */

.footer{
  width: 80vw;
 
  margin: 0 auto;
  padding: .2rem;

}
.footer .contenedor {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: .75rem;;
  margin-top:1.5rem; 
  
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}